<h1>HALAMAN DETAIL</h1>

<div class="card text-bg-dark">
  <div class="card-body">
    <%= @data.judul + " => " + @data.deskripsi + " | " + @data.created_at.strftime("%d-%B-%Y")%>
    <br>
    <br>
    <a href="/postingan/index" class="btn btn-danger btn-sm">Kembali</a>
  </div>
</div>