<h1>Edit Product Receiving</h1>

<%= render "form", product_receiving: @product_receiving %>

<script>
$(document).ready(function() {
    var first_date_string = $('#document_date').val();
    first_date = new Date(first_date_string);

    $('#document_date').change(function(){
        var second_date = $(this).val();
        second_date = new Date(second_date);

        if( first_date.getMonth() !== second_date.getMonth()){
            $(this).val(first_date_string);
            fail_alert("month and year on the date of the document cannot be changed");
        }
    });
})
</script>